{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Update Checker plugin for Craft CMS 3.x
 *
 * Update Checker Settings.twig
 *
 * @author    Jalen Davenport
 * @copyright Copyright (c) 2018 Jalen Davenport
 * @link      https://github.com/jalendport
 * @package   UpdateChecker
 * @since     1.0.0
 */
#}

{% import "_includes/forms" as forms %}

{% macro configWarning(setting) -%}
  {% set setting = '<code>' ~ setting ~ '</code>' %}
  {{ 'This is being overridden by the {setting} config setting in your {file} config file.'|t('update-checker', {
        setting: setting,
        file:    'update-checker.php'
  })|raw }}
{%- endmacro %}

{% from _self import configWarning %}

<h2 class="first">Cron Job</h2>

{{ forms.textField({
    first: true,
    label: 'Endpoint',
    instructions: 'For this plugin to work you will need to set up a cron job that hits this endpoint to trigger the update check.',
    value: siteUrl ~ 'actions/update-checker/check',
})}}

<hr>

<h2 class="first">Security Settings</h2>

{{ forms.textField({
    first: true,
    label: 'Access Key',
    instructions: 'Secure your endpoint with an access key. You can generate keys using <a href="https://randomkeygen.com" target="_blank">RandomKeygen</a>.',
    id: 'accessKey',
    name: 'accessKey',
    placeholder: '1NUwWdzAbBEZ3HavWV6M5dRCA5SufXPP',
    value: settings.accessKey,
    disabled: 'accessKey' in overrides,
    warning: 'accessKey' in overrides ? configWarning('accessKey'),
})}}

<hr>

<h2 class="first">Email Settings</h2>

{{ forms.lightswitchField({
    first:         true,
    label:        'Enabled'|t,
    id:           'email',
    name:         'email',
    on:           settings.email,
    disabled:     'email' in overrides,
    warning:      'email' in overrides ? configWarning('email'),
}) }}

{{ forms.textField({
    first: true,
    label: 'To Email',
    instructions: 'The email address(es) that the update notifications will be send to. Separate multiple email addresses with commas.',
    id: 'toEmail',
    name: 'toEmail',
    placeholder: 'joe.bloggs@email.co.uk, jane.bloggs@email.co.uk',
    value: settings.toEmail,
    disabled: 'toEmail' in overrides,
    warning: 'toEmail' in overrides ? configWarning('toEmail'),
})}}

<hr>

<h2 class="first">Slack Settings</h2>

{{ forms.lightswitchField({
    first:         true,
    label:        'Enabled'|t,
    id:           'slack',
    name:         'slack',
    on:           settings.slack,
    disabled:     'slack' in overrides,
    warning:      'slack' in overrides ? configWarning('slack'),
}) }}

{{ forms.textField({
    first: true,
    label: 'Slack Webhook URL',
    instructions: 'The webhook endpoint that the update notifications will be sent to. You can learn more about Slack webhooks <a href="https://api.slack.com/incoming-webhooks" target="_blank">here</a>.',
    id: 'slackWebhook',
    name: 'slackWebhook',
    placeholder: 'https://hooks.slack.com/services/',
    value: settings.slackWebhook,
    disabled: 'slackWebhook' in overrides,
    warning: 'slackWebhook' in overrides ? configWarning('slackWebhook'),
})}}
